#header {
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    
}
#header .booking-row {
    position: absolute;
    width: 100%;
    bottom: 50px;
    z-index: 1;
}
.booking-row {
    background: rgba(0,0,0,.5);
    box-shadow: inset 0 1px 5px rgba(0,0,0,.1);
    position: relative;
    z-index: 1;
}
.booking-row {
    background: rgba(0,0,0,.25);
    box-shadow: inset 0 1px 5px rgba(0,0,0,.1);
    position: relative;
    z-index: 1;
}
.content-padding-xs {
    padding-bottom: 3.2rem;
    padding-top: 3.2rem;
}
/* p, li, span, div {
    font-size: 1.4rem;
} */
.booking-row .form-control {
    background: rgba(255,255,255,.1)!important;
    border: 0;
    border: 1px solid rgba(255,255,255,.75);
    border-radius: 2px;
    outline: 0;
    color: #fff;
    position: relative;
    z-index: 0;
    -webkit-appearance: none;
}
.form-control {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    padding: .9rem 1.5rem;
    height: auto;
    border-color: #e0e3e4;
    border-radius: 2px;
    -webkit-appearance: none;
	margin-bottom: 10px;
}
.btn.btn-block {
    padding-left: inherit;
    padding-right: inherit;
    text-align: center;
    
}
.btn.btn-primary {
    background:#333;
    border-color: #333;
}
.btn {
    font-weight: 500;
    height: auto;
    padding: 1rem 2.8rem;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    border-radius: 2px;
}

.form-control button {
	border: 1px solid rgba(255,255,255,.75) !important;
   	outline: none !important;
   	background-color:rgba(0,0,0,0.2) !important;
   	color:#ffffff !important;
}


