.input_line {
  font-family: 'Poppins', 'Open Sans', Arial, Helvetica, sans-serif;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  background: transparent;
  color: #323336;
  font-size: 14px;
  margin: 0;
  outline: medium none;
  padding: 8px 20px 8px 0;
  line-height: inherit;
}

/* ////// */

blockquote {
  padding-left: 26px;
  padding-top: 0;
  padding-bottom: 0;
}

.quote1 p {
  margin-bottom: 0;
  font-size: 14px
}

blockquote p {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 200;
  vertical-align: top;
}

.page-title2 {
  font-size: 24px;
}

.ts-icon-container-bg {
  background-color: #F1F1F1;
  color: #17A2D3;
  font-size: 24px;
  font-family: "PingFang-Ultralight";
  width: 105px;
  padding-bottom: 33px;
  font-weight: 100;
}

.ts-icon-container {
  background-color: #F1F1F1;
  padding: 10px;
  width: 105px;
  margin-top: -20px;
  font-size: 20px;
}

.ts-main-container-bg {
  background-color: #F7F7F7;
  margin-left: 105px;
}

.ts-text-container {
  padding-right: 60px;
  padding-top: 20px;
  padding-left: 170px;
  max-height: 150px;
  min-height: 150px;
}

.ts-text-container .label {
  border-radius: 0;
}

.quote-author-description {
  color: #17A2D3;
  cursor: pointer;
}

.ts-main-container-bg .head {
  height: 150px;
  width: 160px;
  float: left;
  text-align: center;
}

.ts-main-container-bg .pinfo {
  font-size: 12px;
  line-height: 20px;
  padding-top: 5px;
  color: #5e6567;
  font-weight: 300;
}

.ts-text-container .events {
  max-height: 40px;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  position: relative;
  height: 200px;
}

.ts-text-container .event {
  /* width: 96px; */
  width: 14%;
  position: absolute;
  top: 0;
  font-weight: 300;
}

.ts-text-container .evt {
  color: #5e6567;
}

.ts-text-container .yellow {
  color: #F2BE69;
}

.ts-text-container .blue {
  color: #17A2D3;
}

.ts-text-container .bg-yellow {
  background-color: #F2BE69 !important;
}

.ts-text-container .bg-blue {
  background-color: #17A2D3 !important;
}

.ts-text-container .text {
  line-height: 16px;
}

.ts-text-container .line {
  line-height: 16px;
  width: 100%;
  height: 3px;
  position: relative;
  background-color: #E6EDED;
}

.ts-text-container .line .strip-p {
  position: absolute;
  height: 3px;
  background-color: #F2BE69;
  top: 0;
  z-index: 1;
}

.ts-text-container .line .strip-u {
  position: absolute;
  height: 3px;
  background-color: #17A2D3;
  top: 0;
  z-index: 1;
}

.ts-text-container .circle {
  background-color: #F2BE69;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  position: absolute;
  top: -3px;
  z-index: 2;
}

.ts-text-container .sm-circle {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  top: -1px;
  z-index: 2;
}

.ts-text-container .line .province {
  background-color: #f5daad !important;
  text-align: center;
  height: 32px;
  font-size: 12px;
  border-radius: 0 0 12px 12px;
  font-weight: 300;
  position: absolute;
  top: 0;
}

.ts-text-container .line .unit {
  background-color: #8ddbf7 !important;
  text-align: center;
  height: 32px;
  font-size: 12px;
  border-radius: 0 0 12px 12px;
  font-weight: 300;
  position: absolute;
  top: 0;
}

.ts-text-container .line .sj1 {
  color: #f5daad !important;
  font-size: 30px;
  margin-top: -2px;
}

.ts-text-container .line .sj2 {
  color: #8ddbf7 !important;
  font-size: 30px;
  margin-top: -2px;
}

.search-c {
  height: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.search-c .btn-group {
  margin-right: 10px;
  /* width: 160px; */
  width: auto;
  min-width: 105px;
}

.search-c .btn {
  width: 100%;
  text-align: left;
}

.search-c .btn .caret {
  margin-left: 5px;
  float: right;
  margin-top: 8px;
}

.search-c .result {
  float: right;
}

.dropdown-menu .on {
  background-color: #eee;
}

.dropdown-menu li {
  padding: 0 5px;
  cursor: pointer;
  /* display: block; */
  /* width: auto; */
  word-break: keep-all;
}

.dropdown-menu li:hover {
  background-color: #eee;
}

.progress {
  width: 500px;
  position: relative;
  display: inline-block;
  margin-bottom: -5px;
}

.progress-bar-info {
  background-color: #337ab7;
}

.clear {
  float: none;
  clear: both;
}
